body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
  
    background: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.214)), url(../img/cielo1.jpg) no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: #333;
    text-align: center;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #FF69B4; /* Color rosado */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FF1493; /* Color rosado más oscuro */
}

#personal-data-result, #triangle-result, #salary-result, #average-result {
    margin-top: 10px;
    font-weight: bold;
}
